body{
    background: #2b2e4a;
    margin: 0px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow-y: scroll;
}

nav{
    background: #E84545;
    color: white;
    padding: 10px;

    box-sizing: border-box;
    width: 100vw;

    margin-bottom: 2.5%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    margin-top: 2.5%;
}

div {
    margin: auto;
}


p{
    margin: 0px;
}

nav h1{
    margin: 0px;
    display: inline-block;
}

.container{
    margin: 2.5% 5%;
}
/* Styling for the accordian */

a{
    padding: 5px;
}

.accordion{
    display: flex;

    justify-content: space-between;
    
    transition: 0.4s;
    width: 100%;
}

.accordion > * {
    padding: 10px;
    font-size: 1.5rem;
    margin: 0px;
}


/* Styling for all of the elements specifically in the Stats Sheet */

.monster-sheet{
    margin: 0px;
    padding: 0px 10px;
    background: white;

    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}

.monster-sheet > div{
    padding: 10px;
    border-bottom-style: double;
}

.monster-sheet *{
    font-size: 1.25rem;
}

.stat-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.stat-block > *{
    display: inline-block;
    margin: 0px;
}

.maroon{
    color: #903749;
}