body{
    background: #2b2e4a;
}

div {
    margin: auto;
}

nav{
    background: #7e2d40;
    color: white;
    padding: 10px;
}

nav h1{
    margin: 0px;
    display: inline-block;
}


.monster-sheet{
    margin: 0px;
    background: white;

    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}

.stat-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.stat-block h2{
    display: inline-block;
    margin: 0px;
}

.maroon{
    color: #7e2d40;
}

.accordion{
    display: flex;

    justify-content: space-between;
    
    transition: 0.4s;
    width: 100%;
}

.accordion > * {
    padding: 10px;
    font-size: 1.5rem;
    margin: 0px;
}